/*.App {
  text-align: center;
}*/

.App-header {
  /*background-color: rgb(188, 188, 188);*/
  /*height: 15vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14pt; /*calc(10px + 2vmin);*/
  color: rgb(51, 122, 183);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid gray;
}
.headerTitle {
  color: black;
  margin: 0px;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyContent:first-child {
  margin-top: 2em;
}

.bodyContent {
  margin-bottom: 2em;
}

.addBtn{

  margin-right: 3em;

}

.inputContainer {
  display: flex;
  justify-content: center;
}

.numInput {
  text-align: center;
  width: 25ch;
  font-size: 11pt;

  border: 1px solid rgb(188, 188, 188);

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.numInput:focus {
  outline: none;
  border: 0.8px solid cornflowerblue;
  box-shadow: 0em 0em 0.5em 0em lightskyblue;
}

.inputUnit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(188, 188, 188);

  background-color: #ddd;
  width: 10ch;
  height: 2.1em;
  font-size: 11pt;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.percentageText {
  font-size: 10pt;
}

.tableContainer {
  display: flex;
  justify-content: center;
}

.resourceTable {
  border: 1px solid rgb(51, 122, 183);
  border-radius: 8px;
  border-collapse: separate;
}

tr {
  height: 4em;
  text-align: center;
}

td {
  width: 28ch;
  text-align: center;
  vertical-align: center;
  border-right: none;
  border-bottom: 1px solid rgb(188, 188, 188);
}

.tableHead {
  background-color: rgb(51, 122, 183);
  color: white;
  /*font-weight: 600;*/
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 2.5em;
}

.leftCol {
  text-align: left;
  padding-left: 2em;
}

.lastRow {
  border: none;
}

tr:last-child {
  background-color: #ddd;
  border-radius: 5px;
  font-size: 14pt;
  height: 3.5em;
}

.emptyRow {
  height: 2em;
}

tr:first-child td:first-child {
  border-top-left-radius: 8px;
}
tr:first-child td:last-child {
  border-top-right-radius: 8px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
