.App-header {
  /*background-color: rgb(188, 188, 188);*/
  /*height: 15vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14pt; /*calc(10px + 2vmin);*/
  color: rgb(51, 122, 183);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid gray;
}
.headerTitle {
  color: black;
  margin: 0px;
}

ul {
  list-style-type: none;
}

.bodyContainer {
  display: flex;
  justify-content: left;
}

.allItemsList {
}

.itemLine {
  width: 80vw;
}

.lineContent {
  margin-right: 5em;
}
